.git/
.mixin.out/
coremods/
crash-reports/
journeymap/
local/
logs/
mods/
patchouli_books/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
backups/
.ReAuth.cfg
crafttweaker.log
icon.png
OpenComputersMod-1.7.5*
options.txt
patchouli_data.json
usercache.json
usernamecache.json